* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-width: 480px;
}

.content {
    background-color: #ddd;
    width: 1024px;
    margin: auto;
    padding: 20px;
}

.table {
    display: table;
    width: 100%;
}

.table > * {
    display: table-cell;
    width: 50%;
}

@media (max-width: 1023px) {

    .content {
        width: 100%;
    }

}

@media (max-width: 767px) and (max-height: 100px) {

    .table,
    .table > * {
        display: block;
        width: 100%;
    }

}

.quad {
    width: 100px;
    height: 100px;
    background-color: red;
}

.quad.animated {
    animation: rotation linear 5s infinite;
}

@keyframes rotation {

    0% {
        /*transform: rotate(0deg);*/
        /*background-color: red;*/
    }

    50% {
        /*transform: rotate(180deg);*/
        /*background-color: blue;*/
    }

    100% {
        /*transform: rotate(360deg);*/
        /*background-color: green;*/
    }

}